# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.env
venv/
ENV/
env/

# VSCode / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Django
*.log
*.pot
*.pyc
db.sqlite3
*.sqlite3
media/
staticfiles/

# Migrations
**/migrations/
!*/migrations/__init__.py

# OS
.DS_Store
Thumbs.db

# Tests
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
